body {
    background-color: grey;
    display: flex;
    justify-content: center;
}

.data-place {
    color: white;
}

.introduction {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}