.listBody {
    background-color: royalblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.planetGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}

.planetOrb {
    margin: 10px;
    border: solid 1px lightgrey;
    padding: 4px;
    width: 200px;
    text-align: center;
    background-color: white;
    color: gray;
}
